.geolocation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  background: url("../../asserts/footer/background2.png");
  width: 1440px;
  background-repeat: no-repeat;
  background-size: 1440px 250px;
  min-height: 250px;
  z-index: 40;
  margin-top: -70px;
}
