.team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    background: url("../../asserts/traveles/background_about.png");
    width: 1440px;
    background-repeat: no-repeat;
    margin-top: -130px;
    min-height: 750px;
    background-size: 1440px 750px;
    z-index: 70;
}

.team__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}