@media screen and (max-width: 770px) {
  .team {
    background: url("../../../../asserts/media/768/team/back_3.png");
    width: 100%;
    max-width: 770px;
    min-height: 1269px;
    background-size: 100% 1269px;
    z-index: 50;
  }

  .team__container__wrapper {
    margin-top: -80px;
    flex-direction: column;
  }

  .team__container__img {
    top: 138px;
  }

  .team__container__img__photo2 {
    top: 138px;
    left: 420px;
  }

  .team__container__img__photo1 {
    top: 500px;
    left: 60px;
  }

  .team__container__description {
    width: 100%;
    padding-top: 120px;
  }

  .team__container__description h4 {
    padding: 40px 0px;
  }

  .team__container__link {
    margin-top: -60px;
    width: calc(100% + 5px);
  }

  .team__container__users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    transform: scale(1);
  }

  .team__container__user {
    display: flex;
    width: calc(50%-25px);
  }

  .team__container__user1 {
    display: flex;
    width: calc(50%-25px);
  }

  .team__container__users img {
    padding: 0px;
    margin: 0px;
  }
}


@media screen and (max-width: 730px) {
  .team {
    min-height: 1720px;
    background-size: 100% 100%;
  }
  
  .team__container__users {
    flex-direction: column;
  }
  .team__container__link {
    top: 1100px
  }

  .about {
    margin-top: -4100px;
  }

  .about__container__description {
    padding-left: 90px;
  }
}

@media screen and (max-width: 658px) {
  .about {
    margin-top: -3700px;
  }

  .about__container__description {
    padding-left: 170px;
  }
}