@media screen and (max-width: 680px) {
  .team {
    background: url("../../../../asserts/media/320/team/Rectangle46.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 1520px;
    background-size: 100% 1520px;
    z-index: 50;
  }

  .team__container__description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 30px;
    margin-top: 80px;
    padding-top: 0px;
    max-width: 320px;
  }

  .team__container__image__container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 240px;
    height: 400px;
  }

  .team__container__img {
    content: url("../../../../asserts/media/320/team/back.png");
    left: 0px;
    top: 0px
  }

  .team__container__img__photo1 {
    top: 0px;
    left: auto;
    right: 0px;
  }

  .team__container__img__photo2 {
    content: url("../../../../asserts/media/320/team/rogovaya-back-desktop.png");
    left: 0px;
    top: 240px;
  }

  .team__container {
    /* height: 400px; */
    padding: 0px;
    padding-top: 30px;
    /* padding-bottom: 130px; */
  }

  .team__container__description__slogan {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    padding-bottom: 20px;
  }

  .team__container__description h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }

  .team__container__users {
    flex-direction: column;
  }

  .team__container__users img {
    padding: 0px;
  }

  .team__container__user {
    left: 20px;
    content: url("../../../../asserts/media/320/team/user_card_1.png");
  }

  .team__container__user1 {
    top: 920px;
    left: 20px;
    content: url("../../../../asserts/media/320/team/user_card.png");
  }

  .team__container__link {
    margin-left: -5px;
    margin-top: 330px;
    /* margin-left: -18px; */
    /* width: 272px; */
  }
}
